.form_label {
    width: 353px;
    flex-shrink: 0;
    color: #595959;
    font-family: "PingFang TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
  }

.form {
  position: relative;
  top: 114px;
  left: 16px;
}

.form_input {
  width: 353px;
  height: 48px;
  flex-shrink: 0;
}

.form_group {
  display: flex;
  width: 353px;
  height: 76px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  flex-shrink: 0;
}

.reminder {
  width: 288px;
  color: var(--neutral-078-c-8-c-8-c, #8C8C8C);
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.forgot_password {
  color: #1EA1D6;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.submit {
  background: #1E9FD2;
  display: flex;
  width: 353px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: #FFF;
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  border: none;
}

.split {
  display: flex;
  width: 353px;
  height: 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.signin_button {
  width: 353px;
  height: 48px;
  flex-shrink: 0;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 40px;
  left: 16px;
  border: none;
}

@media screen and (max-width: 1274px) {
  .signin_button {
    width: 100%;
    position: relative;
    left: 0; 
  }

  .form_input {
    width: 99%;
    position: relative;
    left: 0; 
    margin: auto;
  }

  .form_group {
    width: 100%;
  }

  .form {
    left: 0px;
  }

  .submit {
    width: 100%;
  }
} 

