* {
    box-sizing: border-box;
}

.navbar {
    height: 64px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.08);
}

.navbar_button {
    flex-shrink: 0;
    color: #616161;
    text-align: right;
    font-family: "PingFang TC";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    border: none;
    cursor: pointer;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar_button:hover:enabled {
    background-color: #f1f5f6;
  }

.navbar_box {
    width: 141px;
    height: 64px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    background: #FFF;
}

.brand {
    display: flex;
    width: 120px;
    height: 29px;
    padding: 0.054px 0px 0.127px 0px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    left: 16px;
}

.navbar_list {
    display: flex;
    align-items: center;
}

.navbar_block {
    display: none;
}
@media screen and (max-width: 770px) {
    .navbar_list {
        display: none;
    }

    .navbar_block {
        display: inline;
        width: 48px;
        height: 48px;
        padding: 12px;
        box-sizing: border-box;
        cursor: pointer;
    }
}