/* LoginPage.module.css */



.container {
  width: 385px;
  height: 670px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
}

.title {
  width: 98px;
  color: #262626;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.image {
  width: 500px;
  height: 507px;
  flex-shrink: 0;
  background: url("/onboarding_select_01.png"), #ffffff 0px 0px / 100% 100% no-repeat;
}

.wrapper{
  max-width: 1040px;
  display: flex;
  align-items: flex-start; /* Center items vertically */
  justify-content: space-between; /* Add space between the image and container */
  margin: auto;
  padding-top: 102px;
  padding-bottom: 188px;
  gap: 155px;
}

.split {
  display: flex;
  width: 353px;
  height: 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  top: 89px; 
  padding: 0px 16px;
}

.split::before, .split::after {
    content: "";
    flex: 1 1 0%;
    height: 1px;
    background-color: rgb(191, 191, 191);
}

.or {
  margin: 0px 24px;
}

.keep_login {
  width: 320px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  top: 82px;
}

.keep_login_text {
  width: 256px;
  color: #595959;
  font-family: "PingFang TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.register_now {
  width: 69px;
  color: #1EA1D6;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service {
  position: relative;
  top: 152px;
  left: 16px;
  width: 353px;
  color: var(--neutral-078-c-8-c-8-c, #8C8C8C);
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.service_regulation_blue {
  color: var(--primary-061-e-9-fd-2, #1E9FD2);
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.account_check {
  position: relative;
  top: 135px;
  left: 16px;
  display: flex;
  align-items: center;
  color: #595959;
  font-family: "PingFang TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

@media screen and (max-width: 1274px) {
  .wrapper {
    padding-top: 16px;
  }

  .image {
    display: none; 
  }

  .split {
    width: 95%;
  }

  .container{
    width: 100%;
    margin: auto;
    box-shadow: none;
  }

  .keep_login {
    width: 100%;
    justify-content: flex-start;
  }

  .keep_login_text {
    width: 100%;
  }

  .account_check {
    left: 0px;
  }
  
  .service {
    left: 0px;
    width: 100%;
  }
} 
