/* LoginPage.module.css */

.container {
  width: 385px;
  height: 670px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #FFF;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
}

/* @media screen and (max-width: 10px) {
  .container {
    width: 100%;
    box-sizing: border-box;
    margin: 0; 
  }
} */

.title {
  width: 98px;
  color: #262626;
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px; /* 140% */
}

.image {
  width: 500px;
  height: 507px;
  flex-shrink: 0;
  background: url("/onboarding_select_01.png"), #ffffff 0px 0px / 100% 100% no-repeat;
}

.wrapper{
  max-width: 1040px;
  display: flex;
  align-items: flex-start; /* Center items vertically */
  justify-content: space-between; /* Add space between the image and container */
  margin: auto;
  padding: 188px;
  gap: 155px;
}

.split {
  display: flex;
  width: 353px;
  height: 18px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.line {
  width: 112px;
  height: 2px;
  flex-shrink: 0;
  stroke-width: 1px;
  stroke: #BFBFBF;
}

.or {
  width: 16px;
  flex-shrink: 0;
  color: var(--neutral-078-c-8-c-8-c, #8C8C8C);
  text-align: center;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 112.5% */
}

.keep_login {
  width: 320px;
  height: 56px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.keep_login_text {
  width: 256px;
  color: #595959;
  font-family: "PingFang TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.no_account {
  color: #595959;
  font-family: "PingFang TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.register_now {
  width: 69px;
  color: #1EA1D6;
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.service_regulation {
  color: var(--neutral-078-c-8-c-8-c, #8C8C8C);
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.service_regulation_blue {
  color: var(--primary-061-e-9-fd-2, #1E9FD2);
  font-family: "Noto Sans TC";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}

.account_check {
  position: relative;
  top: 135px;
  left: 16px;
  display: flex;
  align-items: center;
}